.GP-Genre-Container{
    width: 100%;
    display: grid;
    gap: 30px;
    width: 80vw;
    place-self: center;
}
.GP-genre-text{
    transition: 0.2s ease-out;
    user-select: none;
    background-color: var(--background-2);
    border: 2px solid var(--secondary);
    border-radius: 8px;
    text-shadow: 0px 0px 2px black;
}
.GP-genre-text:hover{
    background-color: var(--background-3);
}
.GP-genre-text:active{
    transition: 0s;
    background-color: var(--accent);
}


.GP-Card-Container{
    background-color: var(--background-2);
    display: grid;
    align-items: center;
    justify-items: center;

    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.2s ease-out;
}
.GP-Card-Container:hover{
    background-color: var(--background-3);
}

.GP-Card-title{
    text-align: center;
    font-size: small;
    text-decoration: none;
    color: var(--text);
    display: ruby-text;
    transition: color 0.2s ease-out;
}
.GP-Card-title:hover{
    color: var(--accent);
}
.GP-Card-VerMais{
    cursor: pointer;
    user-select: none;

    padding: 10px;
    height: 80px;
    width: 80px;
    background-color: var(--background-2);
    align-self: center;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    font-size: 60px;
    color: var(--accent);
    transition: background-color 0.2s ease-out;
}
.GP-Card-VerMais:hover{
    background-color: var(--background-3);
}
.GP-Card-Img{
    width: 100%;
    height: 100%;
}


@media (max-width: 850px) {
    .H-Container-All{
        padding: 20px;
    }
}