body{
    background-color: var(--background);
    color: var(--text);
}

.H-Container-All{
    display: grid;
    gap: 20px;
    padding: 50px;
}
.H-Genres-Container{
    display: flex;
    gap: 20px;
}
/* .H-Genres-Suggestions{
    min-width: 200px;
    max-height: 500px;
    background-color: var(--background-2);
    border-radius: 10px;
} */




@media (max-width: 850px) {
    .H-Container-All{
        padding: 20px;
    }
    .H-Genres-Container{
        flex-direction: column;
    }
}